@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  height: 100%;   
  margin: 0px; 
  display: flex;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(50,57,89);

}

h2 {
  color: #fff;
}
ul {
  list-style: none;
}

li {
  float: left;
}
 
a {
  text-decoration: none;
  color: inherit;
}
 
button {
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}
 
button,
input {
  border: none;
  padding: 5px 10px;
  margin: 5px;
}

.contacts-color{
  background-color: rgb(90,196,125);
}

.projects-color{
  background-color: rgb(242,173,84);
}

.leads-color{
  background-color: rgb(209,81,95);
}

.social-color{
  background-color: rgb(29,161,242);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.widget-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
}

#left{
  flex-shrink: 0; 
}

.column {
  height: 100%;  
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  margin-left: 200px;
  padding-bottom: 50px;
  color: rgb(56,56,56);
  font-size: xx-large;
  color: #fff;
}

.grid-sidebar {
  align-self: start;
  justify-items: start;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.widget:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    justify-content: space-around;
    flex-grow: 1; 
    overflow: auto;
    margin-left: 200px;
  }
  .widget {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    overflow: auto;
    color: #fff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    display: flex;
    justify-content: space-around;
    flex-grow: 1; 
    overflow: auto;
    margin-left: 200px;
  }
  .widget {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    overflow: auto;
    color: #fff;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .widget {
    width: 400px;
    height: 300px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .widget {
    width: 500px;
    height: 375px;
  }
}

@media only screen and (min-width: 1400px) {
  .widget {
    width: 600px;
    height: 450px;
  }
}